*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    background-color: #252525;
    justify-content: space-between;
    padding: 1px 2%;
    height: 70px;
  
  
}.info-header{
    display: flex;

}
.logo{
    width: 100%;
    height: 70px;
 
}
.icones_header{
    display:flex ;
    width: 30px;
    align-items: center;
    
}
.usuario_img{
    width: 20px;
    height: 20px;

}
.pai{
    display: flex;
   flex-wrap: wrap;
    width: 20%;
    height: 100%;
}

.nav_bar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2040px;
    background-color: beige;
}
.nav_bar h3{
    color: #333;
    font-size: 20px;
}
.nav_bar a{
    margin-left:15px ;
    margin-top: 10px;
    text-decoration: none;  /* Comando para tirar a linha do link  */
    color: #252525;

}
.content{
    width: 90%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 200px;
}